// Custom variables
@import "./custom/variables";

// Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

#__post-content {
    pre {
        margin-left: $spacer * 3 !important;
    }
    figure {
       margin: $spacer * 3 auto !important;
       text-align: center !important;
       width: 100% !important;
       max-width: 512px;
       img {
            max-width: 100%;
            height: auto;
       }
    }
}

// Custom components

@import "./custom/type";
@import "./custom/icons";
@import "./custom/links";
@import "./custom/buttons";
@import "./custom/images";
@import "./custom/nav";
@import "./custom/navbar";
@import "./custom/pagination";
@import "./custom/utilities";
@import "./custom/zoom";
